.daily {
    width: 80%;
    height: 80%;
    position: fixed;
    border: 1.5px solid #99D9DE;
    padding: 10px;
    margin: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    border-radius: 10px;
    overflow: auto;
}

#btn-hours,
#btn-days {
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #91c789;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left;

}

/*Tabel for tilføjet måltider*/
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;

}

td {
    background-color: #DEF6D8;
    padding: 5px;
    text-align: center;

}

th {
    font-size: small;
    color: #BDBDBD;
    padding-left: 15px;
    padding-right: 15px;
}

/* Modalen (baggrunden) */
.modal {
    display: none; /* Skjult som standard */
    position: fixed; /* Bliv på toppen */
    z-index: 1; /* Ligger over alt andet */
    left: 0;
    top: 0;
    width: 100%; /* Fuld bredde */
    height: 100%; /* Fuld højde */
    overflow: auto; /* Gør det muligt at scrolle */
    background-color: rgb(0,0,0); /* Sort med lidt gennemsigtighed */
    background-color: rgba(0,0,0,0.4); /* Sort med lidt gennemsigtighed */
  }
  
  /* Modalens indhold */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% fra toppen og centreret */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Kunne være mere eller mindre, afhængig af skærmstørrelse */
  }
  
  /* Luk-knappen */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }