.nutrition,
.oversigt {
    box-sizing: border-box;
    padding-left: 22px;
    width: 90%;
    margin: 20px auto; /* Centrer boksen vandret */
    background-color: #F2FFF5;
    border: 1px solid #91c789;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

