.nutrition,
.oversigt {
    box-sizing: border-box;
    padding-left: 22px;
    width: 90%;
    margin: 20px auto;
    /* Centrer boksen vandret */
    background-color: #F2FFF5;
    border: 1px solid #91c789;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#searchFoodInput {
    width: 500px;
    border-radius: 5px;
    border: 1px solid #91c789;
    box-sizing: border-box;
}

.searchResults {
    width: 500px;
    border-radius: 5px;
    border: 1px solid #91c789;
    box-sizing: border-box;
}