.mealCreator {
    width: 80%;
    height: 80%;
    position: fixed;
    border: 1.5px solid #99D9DE;
    padding: 10px;
    margin: 10px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -43%);
    border-radius: 10px;
    overflow: auto;
}

#btn-addMeal {
    margin-top: 12px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #91c789;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: right;
}

a {
    margin-left: 15px;
    font-size: 11px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

td {
    background-color: #DEF6D8;
    padding: 5px;
    text-align: center;
}

th {
    font-size: small;
    color: #BDBDBD;
    padding-left: 15px;
    padding-right: 15px;
}

.mealCreatorMeals{
    display: flex;
    padding-left: 0%;
    font-size: 14px;
    width: 36%;
    margin-top: 10px;
    align-items: center;
}

#mealCreatorModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid;
    z-index: 1000;
    width: 58%;
    height: 80%;
    background-color: #def6d8;
    border-radius: 10px;
    border-color: #99D9DE;
    border-width: 2px;
}

.close{
    background-color: #FFAB40;
    border-radius: 50px;
    color:#252525;
    border-color: #F29A8A;
}

.submit{
    border-radius: 50px;
    color:#252525;
    background-color: #91c789;
    border-color: #def6d8;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.Modal-MealCreator {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: lighter;
    color: #9E9E9E;
    gap: 25px;
    border-radius: 50px;
    border-color: #518c48;
    padding: 1.3%;
}

#searchIngredientdrop {
    position: absolute;
    width: 78%;
    max-height: 200px; 
    border-top: none; 
    transform: translate(62%, 30%);
}

#chosenFoodDivID {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.selectedFoodDiv {
    width: 50%;
    box-sizing: border-box;
}

.searchIngredientInput{
    /* transform: translate(180%); */
    background-color: #f2fff5;
    border-radius: 10px;
    border-color: darkgreen;    
    padding: 5px;
    flex-grow: 1;
}

#mealNameID{
    /* transform: translate(75%); */
    background-color: #f2fff5;
    border-radius: 10px;
    border-color: darkgreen;    
    padding: 5px;
    flex-grow: 1;
}

#link {
    font-size: 12px;
    color: #075d6e;
    margin-left: 15px;
    font-weight: bold;
}

#searchResults {
    max-width: 30%;
}

/* Meal Name Modal Styles */
#mealNameModal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    
}

#mealNameModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}