/*Fælles header for alle sider*/
header {
    background-color: #DEF6D8;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

body {
    overflow-x: hidden; 
    overflow-y: auto; 
}

.userlogin {
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: #26734D;
    padding: 10px;
    justify-content: center;
    margin-top: -10px;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    max-width: 200px;
    margin-right: 100px;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

nav li {
    margin-top: 10px;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #9E9E9E;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #26734D;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

/* overskrift*/
#overskrift {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-left: 15px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

.outBtn{
    margin-left: 20px;
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: #C00000;
    padding: 10px;
    justify-content: center;
    border-color: transparent;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
}

.outBtn {
    position: relative; /* Required for ::after to position correctly */
}

.outBtn::after {
    content: ""; /* Initially empty */
    position: absolute;
    top: 100%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning */
    transition: opacity 0.5s ease; /* Smooth transition */
    background-color: #C00000; /* Background color */
    padding: 5px 10px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    display: none; /* Initially hidden */
}

.outBtn:hover::after {
    content: "Logout"; /* Display "Logout" text */
    opacity: 1; /* Make the text visible */
    display: block; /* Show on hover */
}

/* dropdown */
.dropdownBtn {
    border: none;
    background-color: transparent;
    width: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownList a:hover {background-color: #ddd;}
.dropdown:hover .dropdownList {display: block;}
